# Data Frame Data Structure is 2-D data structure in pandas.

In [1]:
from pandas import *

## Creating Data Frame using python list of list.

In [2]:
df1=DataFrame([[1,2,3],[4,5,6]])
df1

   0  1  2
0  1  2  3
1  4  5  6

## Creating data Frame using python Dictionary.

In [3]:
df2=DataFrame({'Yes':[10,20],'No':[100,200]})
df2

   Yes   No
0   10  100
1   20  200

In [4]:
df3=DataFrame({'John':['i like it'],'Sam':['I don\'t like it']})
df3

        John              Sam
0  i like it  I don't like it

## Creating Data Frame using Dictionary and Series.

In [5]:
df4=DataFrame({'Id':Series([101,102,103]),'Name':Series(['A','B','C'])})
df4

    Id Name
0  101    A
1  102    B
2  103    C