# read_csv important attributes

In [1]:
from pandas import *

In [2]:
df1=read_csv('E:\Records2.csv')
df1

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
11,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
13,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27

## List of all attributes in data frame

In [4]:
print(df1.columns)

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price'],
      dtype='object')

## nrows parameter: It is used to select rows from csv file

In [9]:
df1=read_csv('E:\Records2.csv',nrows=6)
df1

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28

In [10]:
df1=read_csv('E:\Records2.csv',nrows=11)
df1

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06

## usecols parameter: It print any specific column.

In [12]:
df1=read_csv('E:\Records2.csv',usecols=[0])
df1

                               Region
0               Australia and Oceania
1   Central America and the Caribbean
2                              Europe
3                  Sub-Saharan Africa
4                  Sub-Saharan Africa
5               Australia and Oceania
6                  Sub-Saharan Africa
7                  Sub-Saharan Africa
8                  Sub-Saharan Africa
9                  Sub-Saharan Africa
10                               Asia
11                 Sub-Saharan Africa
12                               Asia
13  Central America and the Caribbean

In [15]:
df1=read_csv('E:\Records2.csv',usecols=[1,2])
df1

                  Country        Item Type
0                  Tuvalu        Baby Food
1                 Grenada           Cereal
2                  Russia  Office Supplies
3   Sao Tome and Principe           Fruits
4                  Rwanda  Office Supplies
5         Solomon Islands        Baby Food
6                  Angola        Household
7            Burkina Faso       Vegetables
8   Republic of the Congo    Personal Care
9                 Senegal           Cereal
10             Kyrgyzstan       Vegetables
11             Cape Verde          Clothes
12             Bangladesh          Clothes
13               Honduras        Household

In [14]:
type(df1)

pandas.core.frame.DataFrame

## skiprows: It skips specific rows from the data frame.

In [19]:
df1=read_csv('E:\Records2.csv',skiprows=[0,1,2])
df1

,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
0,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
1,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
2,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
3,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
4,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
5,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
6,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70
7,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
8,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
9,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
10,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27

## index_col: It converts any column of Data Frame into its index column.

In [20]:
df1=read_csv('E:\Records2.csv',index_col='Region')
df1

,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
Region,,,,,,,,,
Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70
Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70
Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27

In [21]:
df1=read_csv('E:\Records2.csv',index_col='Country')
df1

,Region,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
Country,,,,,,,,,
Tuvalu,Australia and Oceania,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
Grenada,Central America and the Caribbean,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70
Russia,Europe,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
Sao Tome and Principe,Sub-Saharan Africa,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
Rwanda,Sub-Saharan Africa,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
Solomon Islands,Australia and Oceania,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
Angola,Sub-Saharan Africa,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
Burkina Faso,Sub-Saharan Africa,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
Republic of the Congo,Sub-Saharan Africa,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
Senegal,Sub-Saharan Africa,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70
Kyrgyzstan,Asia,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
Cape Verde,Sub-Saharan Africa,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
Bangladesh,Asia,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
Honduras,Central America and the Caribbean,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27

In [22]:
df1=read_csv('E:\Records2.csv',index_col='Order ID')
df1

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Ship Date,Units Sold,Unit Price
Order ID,,,,,,,,,
669165933,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,6/27/2010,9925,255.28
963881480,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,9/15/2012,2804,205.70
341417157,Europe,Russia,Office Supplies,Offline,L,05-02-2014,05-08-2014,1779,651.21
514321792,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,07-05-2014,8102,9.33
115456712,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,02-06-2013,5062,651.21
547995746,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,2/21/2015,2974,255.28
135425221,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,4/27/2011,4187,668.27
871543967,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,7/27/2012,8082,154.06
770463311,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,8/25/2015,6070,81.73
616607081,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,5/30/2014,6593,205.70
814711606,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,07-12-2011,124,154.06
939825713,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,8/19/2014,4168,109.28
187310731,Asia,Bangladesh,Clothes,Online,L,1/13/2017,03-01-2017,8263,109.28
522840487,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,2/13/2017,8974,668.27

## header: It creates any particular row to header or heading.

In [24]:
df1=read_csv('E:\Records2.csv',header=1)
df1

,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
0,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70
1,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
2,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
3,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
4,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
5,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
6,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
7,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
8,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70
9,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
10,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
11,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
12,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27

In [32]:
df1=read_csv('E:\Records2.csv',header=10)
df1

,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.7
0,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
1,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
2,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
3,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27

## prefix: It create header of strings.

In [28]:
df1=read_csv('E:\Records2.csv',header=None,prefix='Column_')
df1

,Column_0,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9
0,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
1,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
2,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.7
3,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
4,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
5,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
6,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
7,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
8,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
9,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
10,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.7
11,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
12,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
13,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
14,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27

## names: It helps to given particular specific name to each column.

In [34]:
df1=read_csv('E:\Records2.csv',names=['Id','R'])
df1

                                                                                                                                              Id  \
Region                            Country               Item Type       Sales Channel Order Priority Order Date Order ID  Ship Date   Units Sold
Australia and Oceania             Tuvalu                Baby Food       Offline       H              5/28/2010  669165933 6/27/2010         9925
Central America and the Caribbean Grenada               Cereal          Online        C              8/22/2012  963881480 9/15/2012         2804
Europe                            Russia                Office Supplies Offline       L              05-02-2014 341417157 05-08-2014        1779
Sub-Saharan Africa                Sao Tome and Principe Fruits          Online        C              6/20/2014  514321792 07-05-2014        8102
                                  Rwanda                Office Supplies Offline       L              02-01-2013 115456712 02-06-2013        5062
Australia and Oceania             Solomon Islands       Baby Food       Online        C              02-04-2015 547995746 2/21/2015         2974
Sub-Saharan Africa                Angola                Household       Offline       M              4/23/2011  135425221 4/27/2011         4187
                                  Burkina Faso          Vegetables      Online        H              7/17/2012  871543967 7/27/2012         8082
                                  Republic of the Congo Personal Care   Offline       M              7/14/2015  770463311 8/25/2015         6070
                                  Senegal               Cereal          Online        H              4/18/2014  616607081 5/30/2014         6593
Asia                              Kyrgyzstan            Vegetables      Online        H              6/24/2011  814711606 07-12-2011         124
Sub-Saharan Africa                Cape Verde            Clothes         Offline       H              08-02-2014 939825713 8/19/2014         4168
Asia                              Bangladesh            Clothes         Online        L              1/13/2017  187310731 03-01-2017        8263
Central America and the Caribbean Honduras              Household       Offline       H              02-08-2017 522840487 2/13/2017         8974

                                                                                                                                               R
Region                            Country               Item Type       Sales Channel Order Priority Order Date Order ID  Ship Date   Unit Price
Australia and Oceania             Tuvalu                Baby Food       Offline       H              5/28/2010  669165933 6/27/2010       255.28
Central America and the Caribbean Grenada               Cereal          Online        C              8/22/2012  963881480 9/15/2012        205.7
Europe                            Russia                Office Supplies Offline       L              05-02-2014 341417157 05-08-2014      651.21
Sub-Saharan Africa                Sao Tome and Principe Fruits          Online        C              6/20/2014  514321792 07-05-2014        9.33
                                  Rwanda                Office Supplies Offline       L              02-01-2013 115456712 02-06-2013      651.21
Australia and Oceania             Solomon Islands       Baby Food       Online        C              02-04-2015 547995746 2/21/2015       255.28
Sub-Saharan Africa                Angola                Household       Offline       M              4/23/2011  135425221 4/27/2011       668.27
                                  Burkina Faso          Vegetables      Online        H              7/17/2012  871543967 7/27/2012       154.06
                                  Republic of the Congo Personal Care   Offline       M              7/14/2015  770463311 8/25/2015        81.73
                                  Senegal               Cereal          Online        H              4/18/2014  616607081 5/30/2014        205.7
Asia                              Kyrgyzstan            Vegetables      Online        H              6/24/2011  814711606 07-12-2011      154.06
Sub-Saharan Africa                Cape Verde            Clothes         Offline       H              08-02-2014 939825713 8/19/2014       109.28
Asia                              Bangladesh            Clothes         Online        L              1/13/2017  187310731 03-01-2017      109.28
Central America and the Caribbean Honduras              Household       Offline       H              02-08-2017 522840487 2/13/2017       668.27

## dtype: It can convert the data type of any column.

In [35]:
df1=read_csv('E:\Records2.csv')
df1

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
11,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
13,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27

In [40]:
df1=read_csv('E:\Records2.csv',dtype={'Units sold':'float64'})
df1

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price
0,Australia and Oceania,Tuvalu,Baby Food,Offline,H,5/28/2010,669165933,6/27/2010,9925,255.28
1,Central America and the Caribbean,Grenada,Cereal,Online,C,8/22/2012,963881480,9/15/2012,2804,205.70
2,Europe,Russia,Office Supplies,Offline,L,05-02-2014,341417157,05-08-2014,1779,651.21
3,Sub-Saharan Africa,Sao Tome and Principe,Fruits,Online,C,6/20/2014,514321792,07-05-2014,8102,9.33
4,Sub-Saharan Africa,Rwanda,Office Supplies,Offline,L,02-01-2013,115456712,02-06-2013,5062,651.21
5,Australia and Oceania,Solomon Islands,Baby Food,Online,C,02-04-2015,547995746,2/21/2015,2974,255.28
6,Sub-Saharan Africa,Angola,Household,Offline,M,4/23/2011,135425221,4/27/2011,4187,668.27
7,Sub-Saharan Africa,Burkina Faso,Vegetables,Online,H,7/17/2012,871543967,7/27/2012,8082,154.06
8,Sub-Saharan Africa,Republic of the Congo,Personal Care,Offline,M,7/14/2015,770463311,8/25/2015,6070,81.73
9,Sub-Saharan Africa,Senegal,Cereal,Online,H,4/18/2014,616607081,5/30/2014,6593,205.70
10,Asia,Kyrgyzstan,Vegetables,Online,H,6/24/2011,814711606,07-12-2011,124,154.06
11,Sub-Saharan Africa,Cape Verde,Clothes,Offline,H,08-02-2014,939825713,8/19/2014,4168,109.28
12,Asia,Bangladesh,Clothes,Online,L,1/13/2017,187310731,03-01-2017,8263,109.28
13,Central America and the Caribbean,Honduras,Household,Offline,H,02-08-2017,522840487,2/13/2017,8974,668.27