## Series is a 1-D Data Structure in Pandas. It is in vertical form.

In [1]:
from pandas import *

## Empty Series

In [11]:
s=Series([])
print(s)

Series([], dtype: float64)

<ipython-input-11-ea76aa8a60ad>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s=Series([])

## Creating Series using python List.

In [6]:
s1=Series([1,2,3,4,5])
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Creating Series using python tuple.

In [9]:
s2=Series((1,2,3,4,5))
print(s2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Creating Series using python Dictionary.

In [16]:
s5=Series({'A':100,'B':200,'C':300})
print(s5)

A    100
B    200
C    300
dtype: int64

## Modifying Series Index own type.

In [13]:
s3=Series([10,20,30,40,50],index=['P1','P2','P3','P4','P5'])
print(s3)

P1    10
P2    20
P3    30
P4    40
P5    50
dtype: int64

## Giving Name to Series.

In [15]:
s4=Series([100,200,300,400],index=('Sales 2015','Sales 2016','Sales 2016','Sales 2017'),name='Product Sales')
print(s4)

Sales 2015    100
Sales 2016    200
Sales 2016    300
Sales 2017    400
Name: Product Sales, dtype: int64

## Accessing Series elements using its index value.

In [17]:
s6=Series(range(1,11))
print(s6)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [18]:
print(s6[0])

1

In [19]:
print(s6[9])

10

In [20]:
print(s6[5])

6

## Slicing Series elements.

In [26]:
import numpy
s7=Series(numpy.random.randint(1,50,15))
print(s7)

0     29
1     39
2      9
3     20
4      6
5      6
6     41
7     23
8     21
9     27
10    40
11    40
12    47
13    13
14     9
dtype: int32

In [27]:
print(s7[0:])

0     29
1     39
2      9
3     20
4      6
5      6
6     41
7     23
8     21
9     27
10    40
11    40
12    47
13    13
14     9
dtype: int32

In [28]:
print(s7[::-1])

14     9
13    13
12    47
11    40
10    40
9     27
8     21
7     23
6     41
5      6
4      6
3     20
2      9
1     39
0     29
dtype: int32

In [29]:
print(s7[5:10])

5     6
6    41
7    23
8    21
9    27
dtype: int32

## Conditional Selection.

In [30]:
print(s7[s7<10])

2     9
4     6
5     6
14    9
dtype: int32

In [31]:
print(s7[s7>10])

0     29
1     39
3     20
6     41
7     23
8     21
9     27
10    40
11    40
12    47
13    13
dtype: int32

In [32]:
print(s7[s7%2==0])

3     20
4      6
5      6
10    40
11    40
dtype: int32

## Arithmetic Operation on two or more matrix.

In [34]:
s11=Series([1,2,3,4,5])
s12=Series([10,11,12,13,14])
print(s11,s12)

0    1
1    2
2    3
3    4
4    5
dtype: int64 0    10
1    11
2    12
3    13
4    14
dtype: int64

In [36]:
print(s11+s12)

0    11
1    13
2    15
3    17
4    19
dtype: int64

In [37]:
print(s11-s12)

0   -9
1   -9
2   -9
3   -9
4   -9
dtype: int64

In [38]:
print(s11*s12)

0    10
1    22
2    36
3    52
4    70
dtype: int64