# There are some functions which works to manipulate the data.

## str.lower(): It convert the uppercase values to lowercase.

In [8]:
import pandas as pd

In [9]:
df1=pd.read_csv('E:\Records.csv').head(5)
df1=df1[['Region','Country']]
df1

                              Region                Country
0              Australia and Oceania                 Tuvalu
1  Central America and the Caribbean                Grenada
2                             Europe                 Russia
3                 Sub-Saharan Africa  Sao Tome and Principe
4                 Sub-Saharan Africa                 Rwanda

AttributeError: 'DataFrame' object has no attribute 'str'